<section class="card__wrapper">
	<div class="card-title">
		<div class="card-subtitle">
			<img src="../../../assets/money-icon.svg" alt="simbolo de uma moeda" />
			<h2>Saldo disponível</h2>
		</div>
		<lucide-icon
			name="chevron-up"
			class="icon"
			[size]="36"
			[strokeWidth]="1"
		></lucide-icon>
	</div>

	<div class="card-balance">
		<h2 class="card-balance__balance">R$ {{ account.getBalance }}</h2>
		<span class="card-balance__limit"
			>Saldo + Limite: R$ {{ account.BalancePlusLimit }}</span
		>
	</div>

	<div class="card-extract">
		<hr />
		<a>Ver extrato</a>
	</div>
</section>
