.news-card__wrapper {
	width: 80vw;
	height: 15vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	border-radius: 0.375rem;
	box-shadow: 0rem 0.25rem 0.5625rem 0rem rgba(0, 0, 0, 0.15);
	padding: 1.125rem 1.875rem;
	scroll-snap-align: start;
}
.news-icon {
	width: 3.5rem;
	height: 3.5rem;
}

.news-title {
	text-align: justify;
}
