.menu-title__wrapper {
	background-color: var(--red);
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.4rem;
	padding: 1.875rem;
	color: white;
}

.menu-title__name {
	font-weight: 300;
	text-transform: capitalize;
}

.menu-title__account-details {
	display: flex;
	width: 100%;
	gap: 1.25rem;
	font-weight: bold;
}
