.news-list__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 1.5rem;
	padding: 0.825rem;
	list-style: none;
	overflow: scroll;
	scroll-snap-type: mandatory;
	scroll-snap-points-x: repeat(300px);
	scroll-snap-type: x mandatory;
}

.news-list__wrapper::-webkit-scrollbar {
	display: none;
}
.news-list__wrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
